## Python Data Structure

In [1]:
my_str ="Ananya Kushwaha"

In [3]:
print(my_str.isalnum()) ##check if all character are numbers
print(my_str.isalpha()) ##check is all char in string are alphabetic.
print(my_str.isdigit()) ## if string contains digit
print(my_str.istitle()) ## if string contains title words

False
False
False
True

### Boolean and Logical Operators

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
True or True

In [ ]:
str_example = "Hello world"
my_str = 'Ananya'

In [ ]:
my_str.isalpha() or str_example.isnumeric()

### LISTS

A list in Python is a versatile and mutable data structure used to store an ordered collection of items. 
Lists are defined by enclosing comma-separated values within square brackets []

In [ ]:
type([])

In [ ]:
lst_example = []

In [ ]:
type(lst_example)

In [13]:
## another way to define a list is by using list in-built function
lst = list()
type(lst)

list

In [15]:
lst=['maths','stats',100,200,300]
type(lst)

list

In [17]:
len(lst)

5

### Append

In [20]:
## append is used to add element in the list.
lst.append('Ananya')
lst

['maths', 'stats', 100, 200, 300, 'Ananya']

In [22]:
## nested list id we append two elements.
lst.append(["jhon","duke"])
lst

['maths', 'stats', 100, 200, 300, 'Ananya', ['jhon', 'duke']]

In [24]:
## indexing in list
lst[2]

100

In [26]:
lst[1:]

['stats', 100, 200, 300, 'Ananya', ['jhon', 'duke']]

In [28]:
lst[1:5]

['stats', 100, 200, 300]

## Insert

In [31]:
## insert in a specific order -- lst.insert(index, object, /)
lst.insert(6,"kushwaha")
lst

['maths', 'stats', 100, 200, 300, 'Ananya', 'kushwaha', ['jhon', 'duke']]

## Extend

In [36]:
## this dsnt create a nested leist rather extends the list
lst = [1,2,3,4,5,6]
lst.extend([8,9])
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### various operation the we can perform on list.

In [41]:
## sum od all list elements
sum(lst)

38

In [43]:
## pop() try to pick element acc to specified index and remove it from list
lst.pop()

9

In [45]:
lst.pop(2)

3

In [47]:
lst

[1, 2, 4, 5, 6, 8]

In [53]:
## count() : calculate total occurance of the element of the list --lst.count(value, /)

lst=[1,4,1,1,2,3,4,4,5]
lst.count(1)

3

In [55]:
## index - returns the index of first occurance. start and end index are not necessary parameters.
## lst.index(value, start index, stop index, /)
lst.index(1)

0

lst.index(value, start index, stop index, /)

The selected code `lst.index(1)` is using the `index()` method on a list object named `lst` to find the position of the value `1`.

This method:
1. Searches through the list `lst` for the first occurrence of the value `1`
2. Returns the index (position) of that value in the list
3. Raises a `ValueError` if the value `1` is not found in the list

For example, if `lst = [5, 3, 1, 2, 1]`, then `lst.index(1)` would return `2` because `1` first appears at index 2 (the third position, since indexing starts at 0).

In [61]:
lst.index(1,1,4)

2

In [64]:
## whole list will be appended twice.
lst*2

[1, 4, 1, 1, 2, 3, 4, 4, 5, 1, 4, 1, 1, 2, 3, 4, 4, 5]

## SETS

Sets in Python are unordered collections of unique elements. They are defined using curly braces {} or the set() constructor. Sets do not allow duplicate values, and they are mutable, meaning you can add or remove elements after the set is created.

In [68]:
## define an empty set

set_var = set()
print(type(set_var))

<class 'set'>

In [72]:
set_var = {1,2,3,4,3}
set_var ##  dont print duplicate values

{1, 2, 3, 4}

In [78]:
## unordered display of element in set
set_var = {'ironman','hulk','hitman'}
print(set_var)
type(set_var)

{'hitman', 'hulk', 'ironman'}

set

In [82]:
##  inbuilt function of set

## indexing / column retrival doesnt work in sets
## to add a element use set.add()
set_var.add("black widow")
set_var

{'black widow', 'hitman', 'hulk', 'ironman'}

In [86]:
set1 = {"batman","joker","wolverin","hulk"}
set2 = {"ironman","blackwidow","hulk","captainamerica","wolverin"}

In [90]:
## difference -- comman element will be removed. but not from the set permanently. for that we use update
set2.difference(set1)

{'blackwidow', 'captainamerica', 'ironman'}

In [93]:
set2

{'blackwidow', 'captainamerica', 'hulk', 'ironman', 'wolverin'}

In [95]:
## difference update
set2.difference_update(set1)
set2

{'blackwidow', 'captainamerica', 'ironman'}

In [99]:
## intersection
set2.intersection(set1)

set()

## Dictionary

A dictionary in Python is a mutable collection of key-value pairs that allows for efficient data retrieval using unique keys.

In [105]:
dic= {}
type(dic)

dict

In [107]:
## input element in {} for set .
## we input key-value pair in {} in dict.

In [113]:
## creat a dictionary
my_dict = {"car1":"audi","car2":"bmw","car3":"benz"}
type(my_dict)

dict

In [115]:
## Access the item values based on keys
my_dict['car1']

'audi'

In [117]:
## we can even loop through the dictionaries keys
for x in my_dict:
    print(x)

car1
car2
car3

In [119]:
## we can also check both keys nd values
for x in my_dict.values():
    print(x)

audi
bmw
benz

In [121]:
## key and value
for x in my_dict.items():
    print(x)

('car1', 'audi')
('car2', 'bmw')
('car3', 'benz')

In [123]:
## adding item in dictionary
my_dict["car4"] = "audi 2.0"
my_dict

{'car1': 'audi', 'car2': 'bmw', 'car3': 'benz', 'car4': 'audi 2.0'}

In [129]:
## value updated
my_dict["car1"] = "lambo"
my_dict

{'car1': 'lambo', 'car2': 'bmw', 'car3': 'benz', 'car4': 'audi 2.0'}

### Nested Dictionary

In [134]:
## dict - 1
car1_model = {'benz':1960}
car2_model = {'audi':1970}
car3_model = {'ambassador':1980}

## dict - 2
car_type = {'car1':car1_model,'car2':car2_model,'car3':car3_model}
print(car_type)

{'car1': {'benz': 1960}, 'car2': {'audi': 1970}, 'car3': {'ambassador': 1980}}

In [136]:
## accessing the irem in dictionary
print(car_type['car1'])

{'benz': 1960}

In [142]:
print(car_type['car1']['benz'])

1960

## Tuples

Tuples are ordered, immutable sequences of items. They are similar to lists, but they cannot be changed after creation. Tuples are defined using parentheses () and can contain elements of different data types.

In [150]:
## create an empty tuple
my_tuple = tuple()
type(my_tuple)

tuple

In [152]:
my_tuple = ('ananya','kushwaha','duke')
my_tuple

('ananya', 'kushwaha', 'duke')

In [156]:
my_tuple[0]

'ananya'

In [160]:
## tuple can be replaced but elements cant be replaced
## no item assignent applicable
my_tuple = ['hello','world']
my_tuple

['hello', 'world']

In [162]:
## inbuilt function
my_tuple = ('ananya','kushwaha','duke')

## count the element in a tuple
my_tuple.count('ananya')

1

In [166]:
## gives index of the element
my_tuple.index('duke')

2